# Installation

In [ ]:
!pip install cape-privacy==0.3.0 --no-deps

In [ ]:
!pip install anonympy==0.2.0

#Importing and Initializing

In [43]:
from anonympy.pandas import dfAnonymizer
from anonympy.pandas.utils import load_dataset

In [78]:
# specify datettime columns
df = load_dataset('big')

anonym = dfAnonymizer(df)

anonym

+-------------------------------+
|  Total number of columns: 10  |
+===============================+
| Anonymized Column -> Method:  |
+-------------------------------+
| Unanonymized Columns:         |
| - first_name                  |
| - address                     |
| - city                        |
| - postal                      |
| - phone                       |
| - email                       |
| - web                         |
| - salary                      |
| - birthdate                   |
| - age                         |
+-------------------------------+

<p>So, we have got <strong>10 columns</strong>. None of them are yet anonymized</p>

# Check dtypes

<p>Since anonymization methods depend on data type, it's recommended to check each column data type before applying any functions  </p>

In [45]:
print('Rows:', df.shape[0],'\nColumns:', df.shape[1])
df.head()

Rows: 500
Columns: 10

  first_name            address  ...                     birthdate age
0    Aleshia       14 Taylor St  ... 2000-12-23 15:09:18.117475200  21
1       Evan        5 Binney St  ... 2004-04-22 04:09:51.325948800  17
2     France       8 Moor Place  ... 2002-01-21 18:56:29.090025600  19
3    Ulysses      505 Exeter Rd  ... 2000-11-24 21:59:48.621840000  21
4     Tyisha  5396 Forth Street  ... 1998-06-23 05:19:37.687008000  23

[5 rows x 10 columns]

In [46]:
print('Categorical Columns: ', anonym.categorical_columns)
print('Numeric Columns: ', anonym.numeric_columns)
print('Datetime Columns: ', anonym.datetime_columns)

print('\nOr Call `info` method\n ')

anonym.info()

Categorical Columns:  ['first_name', 'address', 'city', 'postal', 'phone', 'email', 'web']
Numeric Columns:  ['salary', 'age']
Datetime Columns:  ['birthdate']

Or Call `info` method

+------------+--------+-------------+--------+
|   Column   | Status |    Type     | Method |
+============+========+=============+========+
| first_name | 0      | categorical |        |
+------------+--------+-------------+--------+
| address    | 0      | categorical |        |
+------------+--------+-------------+--------+
| city       | 0      | categorical |        |
+------------+--------+-------------+--------+
| postal     | 0      | categorical |        |
+------------+--------+-------------+--------+
| phone      | 0      | categorical |        |
+------------+--------+-------------+--------+
| email      | 0      | categorical |        |
+------------+--------+-------------+--------+
| web        | 0      | categorical |        |
+------------+--------+-------------+--------+
| salary     | 0      | numeric     |        |
+------------+--------+-------------+--------+
| birthdate  | 0      | datetime    |        |
+------------+--------+-------------+--------+
| age        | 0      | numeric     |        |
+------------+--------+-------------+--------+

<p>7 categorical, 2 numerical and 1 datetime columns. 
Let's see what methods we can apply to categorical columns.
<br>List of available methods: <code>anonympy.pandas.utils.available_methods</code>
</p>

In [47]:
from anonympy.pandas.utils import available_methods

In [48]:
available_methods('categorical') # args: 'categorical' / 'numerical' / 'datetime' / 'general' / None

categorical_fake	categorical_fake_auto	categorical_resampling	categorical_tokenization	categorical_email_masking

# Categorical Email Masking

<p>To apply partial email masking call <code>categorical_email_masking</code> on corresponding column</p>

In [49]:
anonym.categorical_email_masking(columns='email', inplace = False)

0         a*****z@hotmail.com
1           e*****s@gmail.com
2         f*****e@hotmail.com
3         u*****s@hotmail.com
4         t*****s@hotmail.com
                ...
495        a*****y@veit.co.uk
496     r*****i@euresti.co.uk
497    c*****g@brenning.co.uk
498         c*****y@gmail.com
499       m*****i@hotmail.com
Name: email, Length: 500, dtype: object

`inplace=True` (default) - changes will be applied to the dataframe. Access using `anonym.to_df()`
<br>
`inplace = False` - return the changes

In [50]:
anonym.categorical_email_masking('email') # inplace = True

print(anonym.anonymized_columns, '\n')

print(anonym)

['email']

+-------------------------------+
|  Total number of columns: 10  |
+===============================+
| Anonymized Column -> Method:  |
| - email -> Partial Masking    |
+-------------------------------+
| Unanonymized Columns:         |
| - first_name                  |
| - address                     |
| - city                        |
| - postal                      |
| - phone                       |
| - web                         |
| - salary                      |
| - birthdate                   |
| - age                         |
+-------------------------------+

Now **email** column appears to be anonymized

# Categorical Synthetic data (fake data) 
<p>Next, let's replace some values with synthetically generated ones. 
<br>If column name is same as the corresponding faker's method, use <strong>categorical_fake_auto</strong> method.
<br>List of faker's methods: <code>anonympy.pandas.utils.fake_methods</code>
</p>

In [51]:
from anonympy.pandas.utils import fake_methods

In [52]:
fake_methods() # args: letter / None/ 'all'
# output in the following screenshot

A | aba, address, administrative_unit, am_pm, android_platform_token, ascii_company_email, ascii_email, ascii_free_email, ascii_safe_email
B | bank_country, bban, boolean, bothify, bs, building_number
C | cache_pattern, catch_phrase, century, chrome, city, city_prefix, city_suffix, color, color_name, company, company_email, company_suffix, coordinate, country, country_calling_code, country_code, credit_card_expire, credit_card_full, credit_card_number, credit_card_provider, credit_card_security_code, cryptocurrency, cryptocurrency_code, cryptocurrency_name, csv, currency, currency_code, currency_name, currency_symbol, current_country, current_country_code
D | date, date_between, date_between_dates, date_object, date_of_birth, date_this_century, date_this_decade, date_this_month, date_this_year, date_time, date_time_ad, date_time_between, date_time_between_dates, date_time_this_century, date_time_this_decade, date_time_this_month, date_time_this_year, day_of_month, day_of_week, del_arguments, dga, domain_name, domain_word, dsv
E | ean, ean13, ean8, ein, email
F | factories, file_extension, file_name, file_path, firefox, first_name, first_name_female, first_name_male, first_name_nonbinary, fixed_width, format, free_email, free_email_domain, future_date, future_datetime
G | generator_attrs, get_arguments, get_formatter, get_providers
H | hex_color, hexify, hostname, http_method
I | iana_id, iban, image, image_url, internet_explorer, invalid_ssn, ios_platform_token, ipv4, ipv4_network_class, ipv4_private, ipv4_public, ipv6, isbn10, isbn13, iso8601, items, itin
J | job, json
L | language_code, language_name, last_name, last_name_female, last_name_male, last_name_nonbinary, latitude, latlng, lexify, license_plate, linux_platform_token, linux_processor, local_latlng, locale, locales, localized_ean, localized_ean13, localized_ean8, location_on_land, longitude
M | mac_address, mac_platform_token, mac_processor, md5, military_apo, military_dpo, military_ship, military_state, mime_type, month, month_name, msisdn
N | name, name_female, name_male, name_nonbinary, nic_handle, nic_handles, null_boolean, numerify
O | opera
P | paragraph, paragraphs, parse, password, past_date, past_datetime, phone_number, port_number, postalcode, postalcode_in_state, postalcode_plus4, postcode, postcode_in_state, prefix, prefix_female, prefix_male, prefix_nonbinary, pricetag, profile, provider, providers, psv, pybool, pydecimal, pydict, pyfloat, pyint, pyiterable, pylist, pyset, pystr, pystr_format, pystruct, pytimezone, pytuple
R | random, random_choices, random_digit, random_digit_not_null, random_digit_not_null_or_empty, random_digit_or_empty, random_element, random_elements, random_int, random_letter, random_letters, random_lowercase_letter, random_number, random_sample, random_uppercase_letter, randomize_nb_elements, rgb_color, rgb_css_color, ripe_id
S | safari, safe_color_name, safe_domain_name, safe_email, safe_hex_color, secondary_address, seed_instance, seed_locale, sentence, sentences, set_arguments, set_formatter, sha1, sha256, simple_profile, slug, ssn, state, state_abbr, street_address, street_name, street_suffix, suffix, suffix_female, suffix_male, suffix_nonbinary, swift, swift11, swift8
T | tar, text, texts, time, time_delta, time_object, time_series, timezone, tld, tsv
U | unique, unix_device, unix_partition, unix_time, upc_a, upc_e, uri, uri_extension, uri_page, uri_path, url, user_agent, user_name, uuid4
W | weights, windows_platform_token, word, words
Y | year
Z | zipcode, zipcode_in_state, zipcode_plus4

As we can see from this list, column names: **address**, **city** and **first_name** correspond to faker's methods. So we can run `categorical_fake_auto` and it will anonymize these 3 columns
* `email` method is also there, but since we already anonymized it, it won't get affected.

![image.png]()

In [53]:
anonym.categorical_fake_auto() # default args: locale='en_US', inplace=True

# we could use `categorical_fake` method as well, with specifiying the columns
# anonym.categorical_fake(['first_name', 'address', 'city'])

print(anonym)

`email` column already anonymized!
+--------------------------------+
|  Total number of columns: 10   |
+================================+
| Anonymized Column -> Method:   |
| - email -> Partial Masking     |
| - first_name -> Synthetic Data |
| - address -> Synthetic Data    |
| - city -> Synthetic Data       |
+--------------------------------+
| Unanonymized Columns:          |
| - postal                       |
| - phone                        |
| - web                          |
| - salary                       |
| - birthdate                    |
| - age                          |
+--------------------------------+

Let's call `fake_methods` for letter 'u'

In [54]:
fake_methods('u')

 unique, unix_device, unix_partition, unix_time, upc_a, upc_e, uri, uri_extension, uri_page, uri_path, url, user_agent, user_name, uuid4

In our dataframe '**web**' column column stored different **urls**. So we can use `url` method on '**web**' column. 

And column '**phone**' values can be replaced using `phone_number` method

Let's apply these changes using `categorical_fake` method which accepts list of column names (if similar to method name) or a dictionary (when names differ)

In [55]:
anonym.categorical_fake({'web':'url', 'phone': 'phone_number'}) # inplace = True

anonym.info()

+------------+--------+-------------+-----------------+
|   Column   | Status |    Type     |     Method      |
+============+========+=============+=================+
| first_name | 1      | categorical | Synthetic Data  |
+------------+--------+-------------+-----------------+
| address    | 1      | categorical | Synthetic Data  |
+------------+--------+-------------+-----------------+
| city       | 1      | categorical | Synthetic Data  |
+------------+--------+-------------+-----------------+
| postal     | 0      | categorical |                 |
+------------+--------+-------------+-----------------+
| phone      | 1      | categorical | Synthetic Data  |
+------------+--------+-------------+-----------------+
| email      | 1      | categorical | Partial Masking |
+------------+--------+-------------+-----------------+
| web        | 1      | categorical | Synthetic Data  |
+------------+--------+-------------+-----------------+
| salary     | 0      | numeric     |                 |
+------------+--------+-------------+-----------------+
| birthdate  | 0      | datetime    |                 |
+------------+--------+-------------+-----------------+
| age        | 0      | numeric     |                 |
+------------+--------+-------------+-----------------+

# Categorical Tokenization

Let's apply tokenization on '**postal**' column

In [56]:
print(anonym.categorical_tokenization('postal', inplace = False)) # first inplace = False, to see how the changes will look

anonym.categorical_tokenization('postal') # inplace = True, by default

0      2a8ba32381
1      1569763104
2      73c0b907be
3      b155a02362
4      56a6b1e03a
          ...
495    7687741a49
496    6a16bbf755
497    bedd62bb14
498    30dae3be6e
499    7c49b8248b
Name: postal, Length: 500, dtype: object

In [58]:
# which columns are left unanonymized? 
print(anonym.unanonymized_columns)

['salary', 'birthdate', 'age']

# Datetime Perturbation (noise)

Let's add some random noise to '**birthdate**' column
<br>Also, we should specify to add noise only to days and month but not year.

In [65]:
print(anonym.datetime_noise('birthdate', frequency=('MONTH', 'DAY'), inplace = False), '\n') # inplace = False to observe the changes

print(df.birthdate) # for comparison

0     2000-03-30 15:09:18.117475200
1     2004-05-18 04:09:51.325948800
2     2002-07-15 18:56:29.090025600
3     2000-11-19 21:59:48.621840000
4     1998-05-20 05:19:37.687008000
                   ...
495   1994-09-15 16:40:58.379318400
496   1998-11-08 11:23:56.188204800
497   1998-06-12 22:03:29.331331200
498   1995-02-15 21:48:38.237414400
499   2000-10-12 20:38:06.739699200
Name: birthdate, Length: 500, dtype: datetime64[ns]

0     2000-12-23 15:09:18.117475200
1     2004-04-22 04:09:51.325948800
2     2002-01-21 18:56:29.090025600
3     2000-11-24 21:59:48.621840000
4     1998-06-23 05:19:37.687008000
                   ...
495   1995-06-08 16:40:58.379318400
496   1999-02-10 11:23:56.188204800
497   1998-01-13 22:03:29.331331200
498   1994-12-20 21:48:38.237414400
499   2000-02-13 20:38:06.739699200
Name: birthdate, Length: 500, dtype: datetime64[ns]

In [ ]:
anonym.datetime_noise('birthdate', frequency=('MONTH', 'DAY')) # inplace=True, to apply the changes

In [67]:
anonym.info()

+------------+--------+-------------+-----------------------+
|   Column   | Status |    Type     |        Method         |
+============+========+=============+=======================+
| first_name | 1      | categorical | Synthetic Data        |
+------------+--------+-------------+-----------------------+
| address    | 1      | categorical | Synthetic Data        |
+------------+--------+-------------+-----------------------+
| city       | 1      | categorical | Synthetic Data        |
+------------+--------+-------------+-----------------------+
| postal     | 1      | categorical | Tokenization          |
+------------+--------+-------------+-----------------------+
| phone      | 1      | categorical | Synthetic Data        |
+------------+--------+-------------+-----------------------+
| email      | 1      | categorical | Partial Masking       |
+------------+--------+-------------+-----------------------+
| web        | 1      | categorical | Synthetic Data        |
+------------+--------+-------------+-----------------------+
| salary     | 0      | numeric     |                       |
+------------+--------+-------------+-----------------------+
| birthdate  | 1      | datetime    | Datetime Perturbation |
+------------+--------+-------------+-----------------------+
| age        | 0      | numeric     |                       |
+------------+--------+-------------+-----------------------+

Two numeric columns: '**salary**' and '**age**' are left

# Numeric Rounding

Applying `numeric_rounding` to '**salary**' column

In [68]:
print(df.salary, '\n') # original
anonym.numeric_rounding('salary', inplace = False) # see the changes

0      46391
1      30798
2      32384
3      39298
4      41630
       ...
495    42239
496    42640
497    44982
498    32827
499    41266
Name: salary, Length: 500, dtype: int64

0      50000
1      30000
2      30000
3      40000
4      40000
       ...
495    40000
496    40000
497    40000
498    30000
499    40000
Name: salary, Length: 500, dtype: int64

In [69]:
anonym.numeric_rounding('salary') # apply the changes

# Numeric Perturbation (noise)

 Some noise to '**age**' column would be nice

In [71]:
print(df.age, '\n') # original

print(anonym.numeric_noise('age', inplace = False)) # observe the changes

0      21
1      17
2      19
3      21
4      23
       ..
495    26
496    22
497    23
498    27
499    21
Name: age, Length: 500, dtype: int64

0      28
1      17
2      25
3      26
4      17
       ..
495    17
496    19
497    25
498    21
499    28
Length: 500, dtype: int64

In [72]:
anonym.numeric_noise('age') # apply the changes

In [73]:
anonym

+---------------------------------------+
|      Total number of columns: 10      |
+=======================================+
| Anonymized Column -> Method:          |
| - email -> Partial Masking            |
| - first_name -> Synthetic Data        |
| - address -> Synthetic Data           |
| - city -> Synthetic Data              |
| - web -> Synthetic Data               |
| - phone -> Synthetic Data             |
| - postal -> Tokenization              |
| - birthdate -> Datetime Perturbation  |
| - salary -> Generalization - Rounding |
| - age -> Numeric Perturbation         |
+---------------------------------------+
| Unanonymized Columns:                 |
|                                       |
+---------------------------------------+

All columns have been successfully anonymized, let's now compare both datasets before and after anonymization

In [76]:
df.head()

  first_name            address  ...                     birthdate age
0    Aleshia       14 Taylor St  ... 2000-12-23 15:09:18.117475200  21
1       Evan        5 Binney St  ... 2004-04-22 04:09:51.325948800  17
2     France       8 Moor Place  ... 2002-01-21 18:56:29.090025600  19
3    Ulysses      505 Exeter Rd  ... 2000-11-24 21:59:48.621840000  21
4     Tyisha  5396 Forth Street  ... 1998-06-23 05:19:37.687008000  23

[5 rows x 10 columns]

In [77]:
anonym.to_df()

      first_name  ... age
0          Betty  ...  23
1         Dustin  ...   8
2    Christopher  ...  15
3         Samuel  ...  21
4        Timothy  ...  23
..           ...  ...  ..
495      Natalie  ...  20
496         Jose  ...  17
497       Joanna  ...  32
498        Karen  ...  27
499      Melissa  ...  17

[500 rows x 10 columns]